.main-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 24px;
  /* text-align: center; */
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 48px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}