.form {
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 24px;
    margin-top: 12px;
    padding: 16px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.field-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: left;
}

.field {
    font-size: 16px;
    padding: 4px 8px;
}

.btn {
    height: 28px;
    width: 84px;
    font-size: 16px;
}

.label {
    margin-bottom: 4px;
}

.error {
    position: absolute;
    top: 52px;
    left: 8px;
    color: red;
    font-style: italic;
    font-size: 14px;
    margin-top: 4px;
}